body{
	margin: 0;
	padding: 0;
	
}

div .header{
	width: 1300px;
	height: 25px;
	border: solid 1px red;
	
}

.hometab_li
{	text-decoration: none;
	display: inline;
	float: left;
	text-decoration: none;
	padding: 5px;
	position: relative;
	left: 75px;
	font-size: 18px;

}

.hometab_li a
{	
	text-decoration: none;
	color:gray;

}
.hometab_li a:hover{
	color: black;
	padding-left: 30px;
	padding-right: 30px;
	transition: 0.5s;

}


.protitle{

	width: 300px;
	padding: 15px;
	margin-top: 100px;
	margin-left: 525px; 
	border: solid 1px 	#ffe6e6;
	border-radius: 50px;
	box-shadow: 5px 5px 50px 10px 	#ffe6e6;
}


.maindiv{
	width: 1200px;
	height: 350px;
	margin-top:100px; 
	margin-left: 100px;
	margin-right: 100px;
	border: solid 1px white;
	box-sizing: border-box;
		
}

.div1{
	display: inline-block;
	float: left;
	width: 500px;
	height: 300px;
	margin: 20px;
	border: solid 0.1px black;
	box-sizing: border-box;	
	border-radius: 60px 0px 60px 0px;
	box-shadow: 10px 10px 10px 8px #eaeae1;
	
}


.div1:hover{
	box-shadow: 10px 10px 70px 8px yellow;
}

.div2{
	display: inline-block;
	float: right;
	width: 500px;
	height: 300px;
	margin: 20px;
	border: solid 0.1px black;
	box-sizing: border-box;	
	border-radius: 0px 60px 0px 60px;
	box-shadow: 10px 10px 10px 8px #eaeae1;
	position: relative;
}

.div2:hover{
	box-shadow: 10px 10px 70px 8px orange;
}


.div3{
	display: inline-block;
	float: left;
	width: 500px;
	height: 300px;
	margin: 20px;
	border: solid 0.1px black;
	box-sizing: border-box;	
	border-radius: 0px 60px 0px 60px;
	box-shadow: 10px 10px 10px 8px #eaeae1;
}

.div3:hover{
	box-shadow: 10px 10px 70px 8px yellow;
}


.div4{
	display: inline-block;
	float: right;
	width: 500px;
	height: 300px;
	margin: 20px;
	border: solid 0.1px black;
	box-sizing: border-box;	
	border-radius: 60px 6px 60px 0px;
	box-shadow: 10px 10px 10px 8px #eaeae1;
}

.div4:hover{
	box-shadow: 10px 10px 70px 8px orange;
}

.div5{
	display: inline-block;
	float: left;
	width: 500px;
	height: 300px;
	margin: 20px;
	border: solid 0.1px black;
	box-sizing: border-box;	
	border-radius: 60px 0px 60px 0px;
	box-shadow: 10px 10px 10px 8px #eaeae1;
}

.div5:hover{
	box-shadow: 10px 10px 70px 8px yellow;
}


.div6{
	display: inline-block;
	float: right;
	width: 500px;
	height: 300px;
	margin: 20px;
	border: solid 0.1px black;
	box-sizing: border-box;	
	border-radius: 0px 60px 0px 60px;
	box-shadow: 10px 10px 10px 8px #eaeae1;
}

.div6:hover{
	box-shadow: 10px 10px 70px 8px orange;
}

.imghtml{
	width: 280px;
	position: relative;
	left: 100px;
}

.imgjava{
	width:450px;
	position: relative;
	left: 25px; 
	top: 5px;
	border-radius: 20px 20px;
}

.imgpython{
	width: 300px;
	position: relative;
	left: 100px;
}

.bttn{
	position: absolute;
	top: 200px;
	left: 350px;
	border:solid 1px orange;
	padding: 15px;
	border-radius: 50px 50px;
	background: white;
}